.error-message {
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  display: flex;
  transform: translateY(-100px);
    position: absolute;
    top: 10px;
    margin: auto;
    opacity: 0.85;
  &__image {
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
  }
  &_active {
    transform: translateY(0);
    transition: .4s;
  }
}