.auth {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.auth-card {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  &__header {
    margin: 0 0 25px 0;
  }
  &__title {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin: 0 0 10px 0;
  } 
  &__subtitle {
    text-align: center;
    opacity: 0.5;
  }
  &__link {
    color: grey;
    text-align: center;
    display: block;
    opacity: 0.7;
  }
}
.auth-form {
  .ant-btn {
    height: 50px;
    width: 100%;
    text-transform: uppercase;
  }
} 