@import '~style/variables';

.auth {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  &__error {
    transform: translateY(-100px);
    position: absolute;
    top: 10px;
    margin: auto;
    opacity: 0.85;
  }
  &__error_active {
    transform: translateY(0);
    transition: .4s;
  }
}
.auth-error {
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  display: flex;
  &__image {
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
  }
}
.password-input {
  position: relative;
   &__suffix {
    position: absolute;
    background: url('./assets/svg/eye.svg') center no-repeat;
    top: 5px;
    right: 11px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &_strikethrough {
      background: url('./assets/svg/strikethrough_eye.svg') center no-repeat;
    }
  }
}
.auth-input {
  position: relative;
  margin: 0 0 25px 0;
  &__body {
    width: 100%;
    padding: 4px 11px;
    height: 30px;
  }
  &__error {
    color: #ff4d4f;
    position: absolute;
    top: 37px;
    font-size: 12px;
  }
}
.auth-form {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  &__header {
    margin: 0 0 25px 0;
  }
  &__title {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin: 0 0 10px 0;
  } 
  &__subtitle {
    text-align: center;
    opacity: 0.5;
  }
  &__btn {
    height: 50px;
    background: $blue;
    color: white;
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }
  &__link {
    color: grey;
    text-align: center;
    display: block;
    opacity: 0.7;
  }
}
