@import '~style/colors';
@import '~style/variables';

@keyframes typing-circle {
  0% {
    transform:scale(.3,.3);
  }
  100% {
    -webkit-transform:scale(4,4);
    transform:scale(1,1);
  }
 }

.dialog {
  $self: &;
  cursor: pointer;
  margin: 0 0 10px 0;
  padding: 10px 5px;
  &_selected {
    background: $blue;
    #{$self}__companion, #{$self}__message, #{$self}__date {
      color: white;
    }
    #{$self}__message, #{$self}__date {
      opacity: 1;
    }
    #{$self}__typing-circle {
      background-color: white;
    }
  }
  &__typing {
    margin: 0 3px 0 0;
  }
  &__typing-circle {
    animation: typing-circle 3s linear infinite;
    display: inline-block;
    height: 4px;
    width: 4px;
    background-color: grey;
    border-radius: 50%;
    margin: 0 1px 0 0;
  }
  &__avatar {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    float: left;
  }
  &__status {
    img {
      width: 19px;
      height: 13px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__date {
    opacity: 0.7;
  }
  &__companion {
    font-weight: bold;
    margin: 0 10px 0 0;
  }
  &__message {
    opacity: 0.7;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
  }
  &__count {
    border: 1px solid silver;
    border-radius: 50%;
    padding: 4px;
    background: silver;
    color: white;
  }
}