@import '~style/variables';

.no-message {
  &__body {
    border: 1px solid $lightblue;
    border-radius: 10px;
    padding: 5px;
    background: $lightblue;
    color: white;
  }
}

.message-list {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  overflow-y: auto;
  &__item {
    margin: 0 0 10px 0;
  }
  &__no {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header {
    position: sticky;
    top: 0;
  }
  &__title {
    font-weight: bold;
    text-align: center;
    margin: 0 0 5px 0;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    font-size: 10px;
    opacity: 0.7;
    p {
      margin: 0 0 0 2px;
    }
  }
}

.message-online-icon {
  display: flex;
    flex-direction: column;
    justify-content: center;
  &__body {
    width: 5px;
    height: 5px;
    background: $online;
    border-radius: 50%;
  }
}