@import '~style/colors';
@import '~style/variables';

.no-message {
  &__body {
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 5px;
    background: $blue;
    color: white;
  }
}

.message-list {
  @media(max-width: $md4 + px) {
    display: none;
  }
  &_visible-md {
    @media(max-width: $md4 + px) {
      display: flex;
    }
  }
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  &__no {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__header {
    position: sticky;
    top: 0;
    background: white;
    padding: 0 0 10px 0;
    z-index: 2;
  }
  &__goback {
    padding: 20px 20px 20px 0;
    display: none;
    @media(max-width: $md4 + px) {
      height: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      .anticon  {
        font-size: 20px;
        opacity: 0.7;
      }
    }
  }
  &__title {
    font-weight: bold;
    text-align: center;
    margin: 0 0 5px 0;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    font-size: 10px;
    opacity: 0.7;
    p {
      margin: 0 0 0 2px;
    }
  }
  &__body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__items {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.message-online-icon {
  display: flex;
    flex-direction: column;
    justify-content: center;
  &__body {
    width: 5px;
    height: 5px;
    background: $online;
    border-radius: 50%;
  }
}