@import '~style/colors';

.create-dialog-popup {
  &__no {
    display: flex;
    justify-content: center;
  }
}

.user-list {
  margin: 10px 0;
  &__title {
    margin: 0 0 10px 0;
  }
  &__item {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
  }
}
.user-item {
  $self: &;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  &__body {
    display: flex;
    align-items: center;
  }
  &__avatar {
    margin: 0 10px 0 0;
  }
  &_selected {
    background: $blue;
    #{$self}__name {
      color: white;
    }
  }
}