@import './zero.scss';
@import './variables.scss';

#root {
  height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}

.page {
  margin: 10px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.input {
  position: relative;
  &__error {
    color: #ff4d4f;
    position: absolute;
    bottom: 5px;
    font-size: 12px;
  }
  &__content {
    border: 1px solid #d9d9d9;
    height: 30px;
    border-radius: 2px;
    transition: all 300ms;
    text-overflow: ellipsis;
    &:hover {
      border: 1px solid $blue;
      transition: all 300ms;
    }
    &::placeholder {
      opacity: 0.5;
    }
  }
} 