{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "modules": "./modules",
          "tools": "./tools",
          "config": "./config"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env"
  ]
}