{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "modules": "./src/modules",
          "tools": "./src/tools",
          "config": "./src/config"
        }
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-env"
  ]
}