{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
    "sourceType": "module"
  },
  "rules": {
    "no-multi-spaces": [ // лишние пробелы 
      "error"
    ],
    "no-multiple-empty-lines": [ // лишние пустые строки 
      "warn",
      {
        "max": 1
      }
    ],
    "curly": [ // обязательные скобки
      "warn",
      "all"
    ],
    "array-callback-return": [ // обязательный return в коллбэках
      "warn"
    ],
    "no-redeclare": [ // нельзя переобъявить переменную
      "warn"
    ],
    "eqeqeq": [ // сравнение и по значению, и по типу, например ===
      "warn"
    ],
    "indent": [ // отступы 2 пробела
      "error",
      2
    ],
    "quotes": [ // двойные кавычки
      "warn",
      "double"
    ],
    "semi": [ // обязательные ;
      "error",
      "always"
    ],
    "no-console": [ // запрет console 
      "error",
      {
        "allow": [ // кроме этих
          "log",
          "warn",
          "error"
        ]
      }
    ],
    "comma-dangle": [ // запятые в объектах
      "error",
      "always-multiline"
    ],
    "object-curly-spacing": [ // пробелы между скобками и полями объекта
      "error",
      "always"
    ],
    "arrow-parens": [ // скобки для аргументов коллбэка
      "warn",
      "as-needed"
    ],
    "prefer-const": 0 // откл автозамена let на const
  }
}