@import '~style/colors';

.avatar {
  position: relative;
  &__image {
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__letter {
    color: white;
    font-size: 25px;
  }
  &__online {
    width: 7px;
    height: 7px;
    background: $online;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 3px;
  }
}