@import '~style/variables';

.burger-menu {
  .ant-drawer-body {
    padding: 0;
  }
  position: absolute;
  &__header {
    height: 100px;
    padding: 20px;
    background: $lightblue;
  }
  &__title {
    color: white;
  }
  &__list {
    padding: 15px;
  }
}

.burger-menu-item {
  cursor: pointer;
  display: flex;
  margin: 0 0 10px 0;
  &__image-wrapper {
    display: flex;
    align-items: center;
  }
  &__image {
    width: 14px;
    height: 14px;
    margin: 0 10px 0 0;
  }
}