.create-message-form-input {
  padding: 4px 8px;
  height: 40px;
  width: 100%;
}

.create-message-form {
  display: flex;
  &__input {
    flex: 1 0 auto;
    margin: 0 5px 0 0;
  }
  &__button {
    padding: 0 5px 0 0;
    background: transparent;
    img {
      height: 30px;
      width: 30px;
    }
  }
}